body{
    background-color:  #F5F6FA;
}

.pagina-home {  

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        gap: 30px;
        background-color: #6278F7;
    }

    header div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    header h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
    }

    header img {
        width: 51px;
    }

    header h1 {
        font-size: 1.8rem;
        color: #fff;
    }

    header div a {
        text-decoration: none;
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 80px;
    }

    main h2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.7rem;
    }

    a {
        text-decoration: none;
        color: #000;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 20px;
    }

    .corner {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .circle {
        width: 60px;
        height: 60px;
        border-radius: 12px;
    }

    #laranja {
        background-color: #FFCE37;
    }

    #verde {
        background-color: #B3FF37;
    }

    #azul {
        background-color: #37FFF3;
    }

    .square {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px 0px;
        background-color: #fff;
        width: 215px;
        height: 158px;
        border-radius: 12px;
    }

    .square h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.9rem;
    }
    .square p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.9rem;
    }
}