body {
    background-color: #F5F6FA;
}

.pagina-ex2 {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        gap: 30px;
        background-color: #6278F7;
    }

    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    header h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
    }

    header img {
        width: 51px;
    }

    header h1 {
        font-size: 1.8rem;
        color: #fff;
    }

    header div a {
        text-decoration: none;
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 80px;
    }

    .sep {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .line {
        width: 1280px;
        height: 4px;
        background-color: #B3FF37;
    }

    .title {
        display: flex;
        text-align: center;
        gap: 20px;
    }

    .title img {
        width: 40px;
    }

    .enunciado {
        background-color: #fff;
        border-radius: 12px;
        width: 1275px;
        height: 213px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        box-shadow: #d1d1d1 0px 0px 3px;
    }

    .square {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: #d1d1d1 0px 0px 3px;
        width: 476px;
        height: 187px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .square h2 {
        font-size: 1rem;
    }

    .exercise {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
        border-radius: 12px;
        border: 1px solid #A5A5A5;
        width: 414px;
        height: 41px;
        padding: 10px;
    }

    button {
        background-color: #6278F7;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 12px;
        width: 216px;
        height: 50px;
        align-items: center;
    }
}