.Enunciado {
    background-color: #fff;
    border-radius: 12px;
    width: 1275px;
    height: 213px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: #d1d1d1 0px 0px 3px;
}